body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    border: 10px solid red;
}

body:hover {
    background-color: blanchedalmond;
}


.board {
    width: 300px;
    overflow: hidden;
    background-color: white;
    
}

.message {
  text-align: center;
}

.cells {  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 1.5em;
    border: 3px solid #ccc;
    cursor: pointer;
}

.cell:hover {
    background-color: gold;
}